
*{
    margin: 0;
    padding: 0;  
}
body{
    background: linear-gradient(to right, #e91e63, #3f51b5)
}
table{
    background: #000;
}
.button-num{
    width: 72;
    height: 72;
    font-size: 20;
    margin: 2;
    cursor: pointer;
    background: #000000;
    border: none;
    color: white;
}
.button{
    width: 55;
    height: 56;
    font-size: 25;
    margin: 2;
    cursor: pointer;
    background: #312c2c;
    border: none;
    color: white;
}
.textview{
    width: 299px;
    margin: 0;
    font-size: 25;
    padding: 20;
    border: none;
    color: #ffffff;
    background-color: #292525;
}
.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);  
}
.table-operations{
    padding-top: 2px;
    margin-left: -4px;
    background-color: #312c2c;
}
#eq{
    background-color: #c40000;
    margin: -2px;
    width: 107%;
    margin-top: 6px;
}

